.favorite-card{
    width: 250px;
    height: 300px;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
    transition: .2s ease-in-out all;
    background-position-y: 40%;
    background-size: cover;
    margin: 0 auto;
}

.app-darkmode .favorite-card{
    box-shadow:  0px 0px 25px rgb(255 255 255 / 30%);
}

.favorite-card .weather-icon{
    width: 120px;
}

.favorite-card:hover{
    transform: translateY(-10px);
}

.favorite-city-title{
    font-size: 24px;
}

.favorite-temperature{
    font-size: 18px;
}

.MuiSkeleton-text{
    transform: none !important;
    border-radius: 20px !important;

}

.purple-overlay{
    height: 100%;
    width: 100%;
    background: #060822;
    position: absolute;
    opacity: .3;
    border-radius: 20px;
    top: 0;
    left: 0;
}

.favorite-card p, .favorite-card img {
    z-index: 1;
}

.favorites-list a {
    width: inherit;
    height: inherit;
    display: inline-block;
}
.favorite-card div.error p{
    z-index: 1;
    position: absolute;
    left: 0;
    margin: 0 auto;
    right: 0;
    top: 40%;
    text-align: center;
}