.darkmode-toggle-container{
    padding-left: 40px;;
}

.toggle .MuiSwitch-switchBase{
    color: #000;
}

.toggle.active .MuiSwitch-switchBase{
    color: #fff;
}

.dark-mode-text{
    font-size: 10px;
    margin: 0;
}

.app-darkmode .dark-mode-text{
    color: #fff;
}