.darkmode-toggle-container{
    padding-left: 40px;;
}

.toggle .MuiSwitch-switchBase{
    color: #fff;
}

.toggle.active .MuiSwitch-switchBase{
    color: #545686;
}

.dark-mode-text{
    margin: 0;
    font-size: 10px;
}

.app-darkmode .dark-mode-text{
    color: #fff;
}