.navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #fafafa;
}

.app-darkmode .navbar{
    background-color: #010720;
}

.app-darkmode .navbar a{
    color: #fff
}

.navbar a {
    color: #545686;
}

.navbar .nav-item {
    transition: .2s ease-in-out all;
}

.navbar .nav-item:hover{
    transform: translateY(-5px);
}