.search-container{
    padding-bottom: 40px;
}

.search-input{
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #535686;
    width: 70%;
    margin: 0 auto;
    max-width: 1100px;
}

.autocomplete-open .search-input{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.app-darkmode .search-input{
    background: rgba(255,255,255,.2);
}

.app-darkmode .search-input::placeholder{
    color: #fff;
}

.autocomplete-container{
    border: 1px solid #535686;
    height: 150px;
    overflow-y: scroll;
    position: absolute;
    z-index: 2;
    background: #fff;
    top: 57px;
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: none;
    max-width: 1100px;
}

.suggestion-item{
    transition: .2s ease-in-out all;
    margin: 0;
    padding: 10px;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}