@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

/* Default */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

input:focus{
    outline: none;
    border: 1px solid rgb(247 170 61);
}

/* Global */
.flex-row-c{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.d-inline-block{
    display: inline-block;
}

.text-center{
    text-align: center;
}

.padding-v-20{
    padding: 20px 0px;
}

.padding-h-20{
    padding: 0px 20px;
}

.w-100{
    width: 100%;
}

.relative{
    position: relative;
}

.clickable{
    cursor: pointer;
}

.page-content-container{
    padding: 50px;
    min-height: 100vh;
    padding-top: 80px;
    background-color: #fafafa;
}

.app-darkmode .page-content-container{
    background-color: #010720;
}

.weather-icon{
    max-width: 100%;
    object-fit: contain;
}

.morning-weather{
    background-image: url('../../images/weatherBg/morning.jpg');
}

.afternoon-weather{
    background-image: url('../../images/weatherBg/afternoon.jpg');
}

.night-weather{
    background-image: url('../../images/weatherBg/night.jpg');

}

.afternoon-weather p, .night-weather p, .night-weather span, .afternoon-weather span {
    color: #fff !important;
}

/* Animations */
.fade-in{
-webkit-animation: fadein 2s; 
-moz-animation: fadein 2s; 
 -ms-animation: fadein 2s; 
  -o-animation: fadein 2s; 
     animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
