/* Default */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a{
    text-decoration: none;
}

input:focus{
    outline: none;
    border: 1px solid red
}

/* Global */
.flex-row-c{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.d-inline-block{
    display: inline-block;
}

.text-center{
    text-align: center;
}

.padding-v-20{
    padding: 20px 0px;
}

.padding-h-20{
    padding: 0px 20px;
}

.w-100{
    width: 100%;
}

.relative{
    position: relative;
}

.clickable{
    cursor: pointer;
}

.page-content-container{
    padding: 50px;
    min-height: 100vh;
    padding-top: 80px;
}
