.MuiAlert-standardSuccess.added-favorites-msg {
    background-color: rgb(155 230 68);
}

.MuiAlert-standardSuccess.removed-favorites-msg {
    background-color: rgb(247 170 61);
}

.favorite-btn{
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 1;
    font-size: 35px !important;
}


.weather-display-container .MuiSvgIcon-root, .favorite-card .MuiSvgIcon-root{
    fill: #535686;
}