.favorite-btn{
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 1;
    font-size: 35px !important;
}


.weather-display-container .MuiSvgIcon-root, .favorite-card .MuiSvgIcon-root{
    fill: #535686;
}