.favorite-btn{
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 35px !important;
    z-index: 1;
}

 .MuiSvgIcon-root {
    fill: #535686;
}

.weather-display-container .MuiSvgIcon-root, .favorite-card .MuiSvgIcon-root{
    fill: #535686;
}